.Container {
    padding: 10px;
    background-color: rgba(84, 228, 103, 0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 3px 1px black, 1px 1px 3px 1px black,
        1px 1px 3px 1px black;
}
